{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-banner-area bg-black bg-img" data-background="{% static 'images/banner-bg-shape.png' %}">
    <div class="container mw-1680">
        <div class="page-banner-content">
            <h2>شرایط و ضوابط</h2>
            <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                <li><a href="{% url 'aapp:index' %}">صفحه اصلی</a></li>
                <li><span class="active">شرایط و ضوابط</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <h3>شرایط و ضوابط</h3>
            <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                آینده شناخت جامعه و متخصصان را می طلبد تا با نرم افزارها بیشتر را برای طراحان رایانه ای علی الخصوص
                طراحان خلاق و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این ص</p>
            <div class="mb-30"></div>
            <h3>شرایط شرکت شما</h3>
            <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                آینده شناخت جامعه و متخصصان را می طلبد تا با نرم افزارها بیشتر را برای طراحان رایانه ای علی الخصوص
                طراحان خلاق و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این ص</p>
            <div class="mb-30"></div>
            <h3>شرایط شرکت شما</h3>
            <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                آینده شناخت جامعه و متخصصان را می طلبد تا با نرم افزارها بیشتر را برای طراحان رایانه ای علی الخصوص
                طراحان خلاق و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این ص</p>
            <div class="mb-30"></div>
            <h3>شرایط درست را کپی کنید</h3>
            <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                آینده شناخت جامعه و متخصصان را می طلبد تا با نرم افزارها بیشتر را برای طراحان رایانه ای علی الخصوص
                طراحان خلاق و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این ص</p>
        </div>
    </div>
</div>


{% endblock %}