{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-banner-area bg-black bg-img" data-background="{% static 'images/banner-bg-shape2.png' %}">
    <div class="container mw-1680">
        <div class="page-banner-content">
            <h2>درباره ما</h2>
            <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                <li><a href="{% url 'aapp:index' %}">صفحه اصلی</a></li>
                <li><span class="active">درباره ما</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-three"><img src="{% static 'images/about-us-3.jpg' %}" alt="about-us"></div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-three">
                    <h2>استراتژی های نوآورانه و راه حل های خلاقانه</h2>
                    <p>ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس شده‌ایم، از زمان آغاز به
                        کار خود در ارائه راه‌حل‌های خلاقانه پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا
                        است.</p>
                    <p>نظارت و مدیریت بررسی‌ها، بازخوردها و اشاره‌های آنلاین برای حفظ شهرت مثبت برند و رسیدگی موثر
                        به هرگونه تبلیغات منفی.</p>
                    <p>مشاوره و اجرای اقدامات برای افزایش امنیت آنلاین، حفاظت از داده ها و اطمینان از انطباق با
                        مقررات صنعت.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area pb-75">
    <div class="container">
        <div class="section-title" data-cues="slideInUp">
            <h2>راه حل های حرفه ای و خلاق</h2>
        </div>
        <div class="row justify-content-center" data-cues="slideInUp">
            <div class="col-xl-3 col-sm-6">
                <div class="services-single-item style-two">
                    <div class="icon"><img src="{% static 'images/services-icon-1.svg' %}" alt="services-icon"></div>
                    <h3><p>مشاوره استراتژی</p></h3>
                    <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
                    <ul class="ps-0 mb-0 list-unstyled">
                        <li>مدیریت تولید</li>
                        <li>مشاوره مالی</li>
                        <li>استراتژی محصول</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="services-single-item style-two">
                    <div class="icon"><img src="{% static 'images/services-icon-2.svg' %}" alt="services-icon"></div>
                    <h3><p>بازاریابی دیجیتال</p></h3>
                    <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
                    <ul class="ps-0 mb-0 list-unstyled">
                        <li>استراتژی های بازاریابی</li>
                        <li>توسعه تجاری</li>
                        <li>مشاوره مالی</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="services-single-item style-two">
                    <div class="icon"><img src="{% static 'images/services-icon-3.svg' %}" alt="services-icon"></div>
                    <h3><p>توسعه وب</p></h3>
                    <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
                    <ul class="ps-0 mb-0 list-unstyled">
                        <li>راه حل های فناوری</li>
                        <li>تجزیه و تحلیل تحقیقات بازار</li>
                        <li>مدیریت پروژه</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="services-single-item style-two">
                    <div class="icon"><img src="{% static 'images/services-icon-4.svg' %}" alt="services-icon"></div>
                    <h3><p>طراحی خلاقانه</p></h3>
                    <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
                    <ul class="ps-0 mb-0 list-unstyled">
                        <li>آموزش و توسعه</li>
                        <li>مشاوره پایداری</li>
                        <li>مدیریت بحران</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-area-two ptb-100">
    <div class="container">
        <div class="row align-items-center" data-cues="slideInUp">
            <div class="col-lg-8">
                <div class="section-title style-two mw-730" data-cues="slideInUp">
                    <h2>رضایت مشتریان ما</h2>
                </div>
                <div class="testimonial-slide-two owl-carousel owl-theme">
                    <div class="testimonials-single-item-two">
                        <ul class="ps-0 list-unstyled d-flex gap-2 review">
                            <!-- <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li> -->
                        </ul>
                        <p>واسه سرویس توسعه وب با اختلاف stir بهترین رابط کاربری داره و یکی از مزیت‌های سرویس
                            دیتابیس‌شون اینه که خودشون به صورت دوره‌ای بکآپ میگیرن.</p>
                        <div class="d-flex align-items-center info">
                            <div class="flex-shrink-0"><img src="{% static 'images/testimonial-3.png' %}"
                                    class="rounded-circle" alt="testimonial"></div>
                            <div class="flex-grow-1 ms-3">
                                <h3>برندی رو</h3>
                                <span>رهبر بازاریابی در Technlogia</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-single-item-two">
                        <ul class="ps-0 list-unstyled d-flex gap-2 review">
                            <!-- <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li> -->
                        </ul>
                        <p>یه خسته نباشید باید به تیم stir بگم،
                            بعد از چندین روز سرکله زدن با سرویس های مشابه بالاخره تصمیم گرفتم stir رو امتحان کنم و باور
                            نمیشه ۱۰ دقیقه بیشتر وقت نبرد،
                            دمتون گرم.</p>
                        <div class="d-flex align-items-center info">
                            <div class="flex-shrink-0"><img src="{% static 'images/testimonial-7.jpg' %}"
                                    class="rounded-circle" alt="testimonial"></div>
                            <div class="flex-grow-1 ms-3">
                                <h3>تام ویک</h3>
                                <span>کارشناس ارشد در Google</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-img mt-4 mt-lg-0"><img src="{% static 'images/testimonial-4.jpg' %}"
                        alt="testimonial"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}