{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-banner-area bg-black bg-img" data-background="{% static 'images/banner-bg-shape.png' %}">
    <div class="container mw-1680">
        <div class="page-banner-content">
            <h2>{{post.title}}</h2>
            <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                <li><a href="{% url 'aapp:index' %}">صفحه اصلی</a></li>
                <li><a href="{% url 'blog:home' %}">وبلاگ</a></li>
                <li><span class="active">{{post.title}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-details-area pt-100">
    <div class="container">
        <div class="blog-details-content">
            <div class="blog-details-img">
                <img src="{{post.image.url}}" alt="blog-details-img">
            </div>
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 tags-share">
                <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap gap-2 tags-list align-items-center">
                    <li><span style="color: #fff;">برچسب ها:</span></li>
                    {% for cat in post.category.all %}
                    <li><a href="{% url 'blog:category' cat=cat.name %}">
                            {{cat.name}}</a></li>
                    {% endfor %}
                </ul>
                <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap gap-2 tags-list align-items-center">
                    <li><span style="color: #fff;">تعداد بازدید:</span></li>
                    <li>{{post.counted_views}}</li>
                </ul>
                <ul class="ps-0 mb-0 list-unstyled d-flex social-list align-items-center gap-3">
                    <li><span style="color: #fff;">اشتراک گذاری:</span></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navigation-area">
                <div class="row">
                    <div
                        class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        {% if next_post != 'none' %}
                        <div class="thumb">
                            <a href="{% url 'blog:single' pid=next_post.id %}"><img class="img-fluid"
                                    style="max-width: 300px;" src="{{next_post.image.url}}" alt=""></a>
                        </div>
                        <div class="arrow">
                            <a href="{% url 'blog:single' pid=next_post.id %}"><span
                                    class="lnr text-white lnr-arrow-left"></span></a>
                        </div>
                        <div class="detials">
                            <p>پست قبلی</p>
                            <a href="{% url 'blog:single' pid=next_post.id %}">
                                <h4>{{next_post.title}}</h4>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div
                        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        {% if prev_post != 'none' %}
                        <div class="detials">
                            <p>پست بعدی</p>
                            <a href="{% url 'blog:single' pid=prev_post.id %}">
                                <h4>{{prev_post.title}}</h4>
                            </a>
                        </div>
                        <div class="arrow">
                            <a href="{% url 'blog:single' pid=prev_post.id %}"><span
                                    class="lnr text-white lnr-arrow-right"></span></a>
                        </div>
                        <div class="thumb">
                            <a href="{% url 'blog:single' pid=prev_post.id %}"><img class="img-fluid"
                                    style="max-width: 300px;" src="{{prev_post.image.url}}" alt=""></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}