{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-banner-area bg-black bg-img" data-background="{% static 'images/banner-bg-shape.png' %}">
    <div class="container mw-1680">
        <div class="page-banner-content">
            <h2>جزئیات وبلاگ</h2>
            <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                <li><a href="{% url 'aapp:index' %}">صفحه اصلی</a></li>
                <li><span class="active">جزئیات وبلاگ</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-details-area pt-100">
    <div class="container">
        <div class="blog-details-content">
            <div class="blog-details-img">
                <img src="{% static 'images/blog-details-img.jpg' %}" alt="blog-details-img">
            </div>
            <h2>یک روز در قلمروهای پنهان مد</h2>
            <p>Content</p>
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 tags-share">
                <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap gap-2 tags-list align-items-center">
                    <li><span style="color: #fff;">برچسب ها:</span></li>
                    <li><a href="{% url 'blog:home' %}">طرح</a></li>
                    <li><a href="{% url 'blog:home' %}">توسعه</a></li>
                    <li><a href="{% url 'blog:home' %}">برنامه ریزی</a></li>
                    <li><a href="{% url 'blog:home' %}">بازاریابی</a></li>
                </ul>
                <ul class="ps-0 mb-0 list-unstyled d-flex social-list align-items-center gap-3">
                    <li><span style="color: #fff;">اشتراک گذاری:</span></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}