{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollcue.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/helvetica-neue.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Stir</title>
</head>

<body class="business-agency-body">

    <!-- Header -->
    <div class="navbar-area style-two bg-color-0c0c1c py-0">
        <div class="main-nav">
            <div class="container mw-1680">
                <nav class="navbar navbar-expand-md"><a class="navbar-brand" href="{% url 'aapp:index' %}"><img
                            src="{% static 'images/white-logo-2.svg' %}" alt="logo"></a>
                    <div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a href="{% url 'aapp:index' %}" class="nav-link">خانه</a></li>
                            <li class="nav-item"><a href="{% url 'aapp:about' %}" class="nav-link">درباره ما</a></li>
                            <li class="nav-item"><a href="{% url 'aapp:contact' %}" class="nav-link">تماس با ما</a></li>
                            <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link">وبلاگ</a></li>
                        </ul>
                        <div class="nav-right-options d-flex align-items-center">
                            <a href="{% url 'account:login' %}" class="main-btn d-none d-lg-block">
                                <span>ورود / ثبت نام</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu">
                    <div class="logo"><a href="{% url 'aapp:index' %}"><img src="{% static 'images/white-logo-2.svg' %}"
                                alt="logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% block content %}
    {% endblock %}



    <!-- footer -->
    <hr style="border-width:2px">
    <div class="footer-area pt-100 pb-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-4" data-cues="slideInUp">
                    <div class="footer-single-item style-two">
                        <a href="{% url 'aapp:index' %}" class="logo"><img src="{% static 'images/white-logo-2.svg' %}"
                                alt="white-logo"></a>
                        <p>در سفری به ما بپیوندید که در آن خلاقیت حد و مرزی نمی شناسد و نوآوری رشد می کند. امروز با
                            [Stir] تماس بگیرید و بیایید با هم همکاری کنیم تا چشم انداز شما را زنده کنیم.</p>
                        <ul class="social-link ps-0 mb-0 list-unstyled">
                            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li><a href="https://instagram.com/" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://linkedin.com/" target="_blank"><i
                                        class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="row" data-cues="slideInUp">
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-single-item style-two">
                                <h3>عضویت در خبرنامه</h3>
                                <form>
                                    <input type="email" class="form-control" placeholder="ایمیل">
                                    <button type="submit" class="main-btn border-btn">
                                        <span> عضویت در خبرنامه </span><i class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6"></div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-single-item style-two">
                                <h3>با ما تماس بگیرید</h3>
                                <ul class="contact-info ms-0">
                                    <li>
                                        <i class="fa-regular fa-location-dot"></i><span>خیابان Samwell، Trankturt 2589
                                            نیویورک.</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-headphones"></i><a href="tel:+52883256953129">+5288
                                            32569 53129</a>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-envelope"></i><a
                                            href="mailto:information@stir.com">information@stir.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/scrollcue.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>